    
      body{
        background-color: #FDF0D5;
        text-align: justify;
        font-family: serif;
      }

      footer {
         background-color: #003049;
         color: #FDF0D5;
         text-align: center;
         padding: 2rem;
         border-top: 3px solid #003049;
         margin-top: 5rem;
      }

      a{
        color: #669BBC;
      }

      h1, h2, h3, h4, h5{
        color: #669BBC;
        font-weight: bold;
      }

      aside{
        width: 25%;
        padding: 20px;
        margin-right: 20px;
      }
      

      table{
        text-align: justify;
      }

      th{
        color: #669BBC;
        text-align: left;
      }
      tr{
        border-top: 2px solid #780000;
        border-bottom: 2px solid #780000;
      }


      .display-2{
        color: #FDF0D5;
        text-align: left;

      }
      .titulo{
        background-color: #C1121F;
      }
      .navstyle{
        background-color: #780000;
      }
      /*Para modificar todo lo que esta dentro del container*/
      .container{
        font-size: 23px;
      }
      .card-body{
        background-color: #f0efeb;
        border-radius: 10%;
      }
      .card{
        border-radius: 10%;
        height: 100%;
      }
      /*Botones de las cartas*/
      .btn{
        background-color: #003049;
        color: #FDF0D5;
      }

      /*Subtitulo del envabezado*/
      .titulo p{
        font-size: 23px;
        color: #f0efeb;
      }
      /*paleta de colores
        
        Rojo obscuro: #780000
        Rojo claro: #C1121F
        blanco crema: #FDF0D5
        Azul oscuro: #003049
        Azul claro: #669BBC
        Azul de las cards: #f0efeb

      */

      